insert into post
(
	author, 
	name, 
	difficulty,
	time_to_read,
	description,
	url
) 
VALUES
(
	'{{ author }}',
	'{{ name }}',
	'{{ difficulty }}',
	'{{ time_to_read }}',
	'{{ description }}',
	'{{ url }}'
 );
