insert into labels
(
	label_id,
	post_id
)
values
(
	(
		select 
			id
		from label 
		where label.name = {{ label_name }}
	),
	(
		select
			id
		from post
		where post.name = {{ post_name }}
	)
);
 
insert into tags
(
	tag_id,
	post_id
)
values
(
	(
		select 
			id
		from tag 
		where tag.name = {{ tag_name }}
	),
	(
		select
			id
		from post
		where post.name = {{ post_name }}
	)
);
 
