{
    "operationName": "TagRecommendedFeedQuery",
    "variables": {
        "tagSlug": "{{ tag_slug }}",
        "paging": {
            "from": "{{ from }}",
            "to": "{{ from + limit }}",
            "limit": "{{ limit }}",
            "source": ""
        }
    },
    "query": "query TagRecommendedFeedQuery($tagSlug: String!, $paging: PagingOptions) { tagFromSlug(tagSlug: $tagSlug) { viewerEdge { recommendedPostsFeed(paging: $paging) { items { post { ...StreamPostPreview_post } } } } } } fragment StreamPostPreview_post on Post { title readingTime mediumUrl }"
}
