<b>{{ name }}</b>

<i>{{ author }}</i> - {{ date }} - {{ difficulty }} - {{ time_to_read }}

{{ description }}

{% if tag %}
{% for tag in tags %}
{% if loop.last %}
{{tag.name}}
{% else %}
{{ tag.name }}, 
{% endif %}
{% endfor %}
{% endif %}

{% if label %}
{% for label in labels %}
{% if loop.last %}
{{label.name}}
{% else %}
{{ label.name }}, 
{% endif %}
{% endfor %}
{% endif %}

{{ url }}
