Выберите те сайты, от которых вы хотите получать новые посты:
{%for parser in avaliable_parsers_list %}
{{ loop.index }}) {{ parser.verbose_name }}
{% endfor %}

Вот список сайтов, на которые ты уже подписан:
{% if not current_parsers_list %}
Ой, а тут еще ничего нет...
{% endif %}
{%for parser in current_parsers_list %}
{{ loop.index }}) {{ parser.verbose_name }}
{% endfor %}
