Вот список уже добаленых тегов для {{ parser.verbose_name }}:
{% if not parser.tags %}
Упс тут ничего нет...
{% else %}
{% for tag in parser.tags %}
{{ loop.index }}) {{ tag }}
{% endfor %}
{% endif %}

Для того чтобы добавить новый тег, введите его слег-название, которое используется на данном сайте.
